<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Accueil - Site de Paris</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<header>
    <nav>
        <ul>
            <li><a href="login.html">Se Connecter</a></li>
            <li><a href="bets.html">Parier</a></li>
            <li><a href="index.html">Accueil</a></li>
        </ul>
    </nav>
<body>
    
    <h1>Fight Club Pari</h1>
    <div class="center">
    <img src="static/presentation.png" alt="Image de paris" style="height:600px;">
    </div>
</body>
</html>